## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
# /Users/colleen/Desktop/CLASS_WORK_GT-VIRT-DATA-PT-05-2022-U-LOLC/Projects and Tutorials/Mod_21_Challenge/Resources/charity_data.csv
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

2022-11-13 14:56:26.400184: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(["EIN"], 1)
application_df

/var/folders/p5/j6jjhfqs1dn3g3d1yk4h7ykw0000gn/T/ipykernel_7072/991478912.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(["EIN"], 1)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
appcount = application_df["APPLICATION_TYPE"].value_counts()

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(appcount[appcount<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classcount = application_df["CLASSIFICATION"].value_counts()

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classcount[classcount>1000]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

classifications_to_replace = list(classcount[classcount<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
encoded_DF = pd.get_dummies(application_df)
encoded_DF

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = encoded_DF["IS_SUCCESSFUL"].values
X = encoded_DF.drop(["IS_SUCCESSFUL"], 1).values  


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/var/folders/p5/j6jjhfqs1dn3g3d1yk4h7ykw0000gn/T/ipykernel_7072/56831334.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = encoded_DF.drop(["IS_SUCCESSFUL"], 1).values

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

2022-11-13 14:50:05.715751: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403
Trainable params: 403
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
#  YOUR CODE GOES HERE

fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 7s 5ms/step - loss: 0.6266 - accuracy: 0.6871
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5779 - accuracy: 0.7268
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5646 - accuracy: 0.7292
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5589 - accuracy: 0.7307
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5564 - accuracy: 0.7306
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5540 - accuracy: 0.7316
Epoch 7/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5527 - accuracy: 0.7323
Epoch 8/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5521 - accuracy: 0.7317
Epoch 9/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5516 - accuracy: 0.7321
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5510 - accuracy: 0.7331
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5506 - accuracy: 0.7335
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5503 - accuracy: 0.7337
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5500 - accuracy: 0.7336
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5496 - accuracy: 0.7329
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7334
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5492 - accuracy: 0.7345
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7328
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7334
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7340
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5487 - accuracy: 0.7336
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5484 - accuracy: 0.7344
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7344
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7339
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7342
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7334
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7344
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7342
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7343
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7350
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7335
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7343
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7347
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7352
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7335
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7344
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7332
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7349
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7350
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7351
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7343
Epoch 41/100
 37/804 [>.............................] - ETA: 3s - loss: 0.5391 - accuracy: 0.7424

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("Trial3.h5")